{{define "main"}}
<div class="post mx-auto">
  
  {{range $series:= .Data.Terms.ByCount}}
<div class="flex justify-center"><h1>List of series of blog posts</h1></div>
<ol class="list-decimal">
  <li class="ml-2 ">
    <a class="font-bold" href="{{ .Page.Permalink }}">{{ .Page.Title | title}}</a> ({{.Count}} PART SERIES)
    <ul class="ml-4 list-disc">
    {{range $ind,$art := $series.Pages}}

    <li class="ml-4"><a class="text-purple-400"href="{{ $art.Permalink }}">{{ $art.Params.title }}</a></li>
    {{end}}
    </ul>
  </li>
</ol>
  {{end}}
</div>
{{end}}
