<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{.Language}}">
  <head itemscope itemtype ="{{ .Site.BaseURL }}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hmbledev blog by Samyak</title>
    {{with .Page.Params.unsplash}}
    <link rel="preload" as="image" href="https://source.unsplash.com/{{.id}}">
    {{end}}
    {{partial "meta.html" .}}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ "tail.css" | absURL}}" />
    <link rel="stylesheet" href="{{ "syntax.css" | absURL}}" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
    {{template "_internal/google_analytics_async.html" .}}
  </head>
  <body class="bg-gray-200">
    {{partial "navbar2.html" .}}
    <main id="content">
      {{ block "main" . }}{{ end }}
    </main>
    {{partial "footer.html" .}}
  </body>
</html>
