@tailwind base;
@tailwind components;

html {
  position: relative;
  min-height: 100%;
  font-size: 112.5%;
}
body {
  margin: 0 0 110px;
  /* bottom = footer height */
  font-family: "Inter", sans-serif;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  @apply mb-6;
}
h1 {
  @apply text-2xl font-semibold;
}
h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-semibold;
}
p {
  @apply text-base mb-6;
}

p > code {
  @apply text-purple-700 bg-purple-200 bg-opacity-45 px-1 rounded;
}

.single-post ul {
  @apply list-disc list-outside;
}
/* For links in generated markdown */
p > a {
  @apply text-purple-700 underline;
}

@screen lg {
  .post {
    max-width: 800px;
  }
}

.highlight {
  @apply my-4 text-sm;
}

.lntd > .chroma {
  padding: 0;
}

.chroma {
  @apply p-2 rounded-md overflow-x-auto;
}

/* 
 *   This feature is not curerntly in tailwind 
 *   https://github.com/tailwindlabs/tailwindcss/issues/1042 
 */
.max-w-content {
  width: max-content;
}
.max-h-content {
  height: max-content;
}
navbar > a {
  @apply text-white;
}
.navbar {
  @apply py-1 px-2 rounded opacity-25 font-normal;
}
.navbar-red {
  @apply bg-red-600 text-red-600;
}

.vsplit {
  border: 1px solid theme(purple-500);
  border-top: none;
}

p > img {
  @apply mx-auto;
}

@tailwind utilities;
